/*
Title:   Custom CSS for Demo Page
Author:  Jasper Sone, Eric Meyer (for reset)
License: Unlimited use, reuse, modifications. Please just credit original authors.
Updated: June 28, 2012
Version: 0.0
*/

/************************************/
/* Less Variables	                */
/* 	Change these variables to		*/
/*	alter primary chart colors		*/
/************************************/
@primary-font-color: #333;
@heading-font-color: #333;

@h1-size: 2.5em;
@h2-size: 2em;
@h3-size: 1.5em;
@h4-size: 1.2em;
@h5-size: 1em;
@h6-size: .8em;

@default-padding: 8px;

@bar-bg-color: #eee;
@bar-primary-color: #999;
@bar-warning-color: #ce3166; 

@bar-label-box-width: 20%;
@bar-chart-box-width: 70%;
@bar-alert-box-width: 10%;
@bar-fill-margin: 4px;
/************************************/
/* Eric Meyer Reset                 */
/************************************/

div.lotus-charts, .lotus-charts div, .lotus-charts span, .lotus-charts iframe,
.lotus-charts h1, .lotus-charts h2, .lotus-charts h3, .lotus-charts h4, .lotus-charts h5, .lotus-charts h6, .lotus-charts p, .lotus-charts blockquote, .lotus-charts pre,
.lotus-charts a, .lotus-charts abbr, .lotus-charts acronym, .lotus-charts address, .lotus-charts big, .lotus-charts cite, .lotus-charts code,
.lotus-charts del, .lotus-charts dfn, .lotus-charts em, .lotus-charts img, .lotus-charts .lotus-charts ins, .lotus-charts kbd, .lotus-charts q, .lotus-charts s, .lotus-charts samp,
.lotus-charts small, .lotus-charts strike, .lotus-charts strong, .lotus-charts sub, .lotus-charts sup, .lotus-charts tt, .lotus-charts var,
.lotus-charts b, .lotus-charts u, .lotus-charts i, .lotus-charts center,
.lotus-charts dl, .lotus-charts dt, .lotus-charts dd, .lotus-charts ol, .lotus-charts ul, .lotus-charts li,
.lotus-charts fieldset, .lotus-charts form, .lotus-charts label, .lotus-charts legend,
.lotus-charts table, .lotus-charts caption, .lotus-charts tbody, .lotus-charts tfoot, .lotus-charts thead, .lotus-charts tr, .lotus-charts th, .lotus-charts td,
.lotus-charts article, .lotus-charts aside, .lotus-charts canvas, .lotus-charts details, .lotus-charts figcaption, .lotus-charts figure, 
.lotus-charts footer, .lotus-charts header, .lotus-charts hgroup, .lotus-charts menu, .lotus-charts nav, .lotus-charts section, .lotus-charts summary,
.lotus-charts time, .lotus-charts mark, .lotus-charts audio, .lotus-charts video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.lotus-charts {
	article, aside, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section {
    	display: block;
	}
}
div.lotus-charts {
    line-height: 1;
}
.lotus-charts ol, .lotus-charts ul {
    list-style: none;
}
.lotus-charts blockquote, .lotus-charts q {
    quotes: none;
}
.lotus-charts blockquote:before, .lotus-charts blockquote:after,
.lotus-charts q:before, .lotus-charts q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles! 
:focus {
    outline: ?????;
} */

/* remember to highlight inserts somehow! */
.lotus-charts ins {
    text-decoration: none;
}
.lotus-charts del {
    text-decoration: line-through;
}

.lotus-charts table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************************************/
/* Typography                       */
/************************************/
div.lotus-charts, .lotus-charts div, .lotus-charts span, .lotus-charts iframe,
.lotus-charts h1, .lotus-charts h2, .lotus-charts h3, .lotus-charts h4, .lotus-charts h5, .lotus-charts h6, .lotus-charts p, .lotus-charts blockquote, .lotus-charts pre,
.lotus-charts a, .lotus-charts abbr, .lotus-charts acronym, .lotus-charts address, .lotus-charts big, .lotus-charts cite, .lotus-charts code,
.lotus-charts del, .lotus-charts dfn, .lotus-charts em, .lotus-charts img, .lotus-charts .lotus-charts ins, .lotus-charts kbd, .lotus-charts q, .lotus-charts s, .lotus-charts samp,
.lotus-charts small, .lotus-charts strike, .lotus-charts strong, .lotus-charts sub, .lotus-charts sup, .lotus-charts tt, .lotus-charts var,
.lotus-charts b, .lotus-charts u, .lotus-charts i, .lotus-charts center,
.lotus-charts dl, .lotus-charts dt, .lotus-charts dd, .lotus-charts ol, .lotus-charts ul, .lotus-charts li,
.lotus-charts fieldset, .lotus-charts form, .lotus-charts label, .lotus-charts legend,
.lotus-charts table, .lotus-charts caption, .lotus-charts tbody, .lotus-charts tfoot, .lotus-charts thead, .lotus-charts tr, .lotus-charts th, .lotus-charts td,
.lotus-charts article, .lotus-charts aside, .lotus-charts canvas, .lotus-charts details, .lotus-charts figcaption, .lotus-charts figure, 
.lotus-charts footer, .lotus-charts header, .lotus-charts hgroup, .lotus-charts menu, .lotus-charts nav, .lotus-charts section, .lotus-charts summary,
.lotus-charts time, .lotus-charts mark, .lotus-charts audio, .lotus-charts video {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.lotus-charts {
	h1, h2, h3, h4, h5, h6 {
		color: @heading-font-color;
	}
	h1 { font-size: @h1-size;}
	h2 { font-size: @h2-size;}
	h3 { font-size: @h3-size;}
	h4 { font-size: @h4-size;}
	h5 { font-size: @h5-size;}
	h6 { font-size: @h6-size;}
}

/************************************/
/* Primary Element Styles           */
/************************************/
.lotus-charts {
    background: #fafafa;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.lotus-charts .lotus-padding {
    padding: @default-padding;
}
/************************************/
/* Bar Fill Chart                   */
/************************************/
.lotus-charts.horizontal-bar-chart {
    padding: @default-padding 0;
}

.lotus-charts.horizontal-bar-chart .chart-marker-box {
    background: #eee;
	margin-left: @default-padding + @bar-fill-margin;
    position: relative;
    left: @bar-label-box-width;
	top: @h5-size;
    width: 79%;
}
.lotus-charts.horizontal-bar-chart .chart-marker {
    display: block;
    position: relative;
}
.lotus-charts.horizontal-bar-chart .chart-marker .marker-flag-box {
    position: absolute;
    bottom: 0;
    left: 0;
}
.lotus-charts.horizontal-bar-chart .chart-marker .marker-flag-box .marker-flag {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 14px 0;
    border-color: transparent #444444 transparent transparent;
    position: relative;
    top: 14px;
    left: -11px;
}
.lotus-charts.horizontal-bar-chart .lotus-chart-label-box {
    float: left;
    width: @bar-label-box-width;
}

.lotus-charts.horizontal-bar-chart .lotus-chart-label-title {
	color: @heading-font-color;
	font-size: 1em;
}

.lotus-charts.horizontal-bar-chart .lotus-chart-label-value {
	color: @primary-font-color;
	font-size: 2em;
	font-weight: 600;
}

.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart {
    float: left;
	margin-top: @h5-size;
    width: @bar-chart-box-width;
}
.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart .fill-container {
    background: @bar-bg-color url(../images/noise.png) repeat left top;
    display: block;
    overflow: hidden;
    width: 100%;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -moz-box-shadow: inset 0 3px 5px 0 #888;
    -webkit-box-shadow: inset 0 3px 5px 0 #888;
    box-shadow: inset 0 3px 5px 0 #888;
    z-index: 800;
}
.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart .fill-container .fill {
    background: @bar-primary-color url(../images/stripes-light.png) repeat left top;
    height: 26px;
    margin: @bar-fill-margin;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 801;
}

.lotus-charts.horizontal-bar-chart .lotus-charts-alerts {
    background: #ccf;
    float: left;
	margin-top: @h5-size;
    width: @bar-alert-box-width;
    z-index: 800;
}

