/*
Title:   Custom CSS for Demo Page
Author:  Jasper Sone, Eric Meyer (for reset)
License: Unlimited use, reuse, modifications. Please just credit original authors.
Updated: June 28, 2012
Version: 0.0
*/

/************************************/
/* Less Variables	                */
/* 	Change these variables to		*/
/*	alter primary chart colors		*/
/************************************/
@pink:      #cc194b;
@purple:    #992670;
@blue:      #6dafe1;
@green:     #5bbc19;
@gray:      #999;
/*
@warning-color-low: ;
@warning-color-med: ;
@warning-color-high: ;
*/
@primary-font-color: #333;
@heading-font-color: #222;
@label-color-light: @primary-font-color + #555;

@h1-size: 2.5em;
@h2-size: 2em;
@h3-size: 1.5em;
@h4-size: 1.2em;
@h5-size: 1em;
@h6-size: .8em;

@default-padding: 8px;

@bar-bg-color: #eee;
@bar-primary-color: #999;
@bar-warning-color: #ce3166; 

@bar-label-box-width: 20%;
@bar-chart-box-width: 70%;
@bar-alert-box-width: 10%;
@bar-fill-margin: 4px;

@vertical-bar-max-height: 260px;
@vertical-bar-width: 112px;
@vertical-bar-chart-line-color: #e5e5e5;
@vertical-bar-chart-bubble-label-color: #333;
@vertical-bar-chart-bubble-label-text-color: #fff;

/************************************/
/* Eric Meyer Reset                 */
/************************************/
div.lotus-charts, .lotus-charts {
    div, span, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
}
/* HTML5 display-role reset for older browsers */
.lotus-charts {
	article, aside, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section {
    	display: block;
	}
}
div.lotus-charts {
    line-height: 1;
}
.lotus-charts ol, .lotus-charts ul {
    list-style: none;
}
.lotus-charts blockquote, .lotus-charts q {
    quotes: none;
}
.lotus-charts blockquote:before, .lotus-charts blockquote:after,
.lotus-charts q:before, .lotus-charts q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles! 
:focus {
    outline: ?????;
} */

/* remember to highlight inserts somehow! */
.lotus-charts ins {
    text-decoration: none;
}
.lotus-charts del {
    text-decoration: line-through;
}

.lotus-charts table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************************************/
/* Typography                       */
/************************************/
div.lotus-charts, .lotus-charts {
    div, span, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    }
}

.lotus-charts {
	h1, h2, h3, h4, h5, h6 {
		color: @heading-font-color;
	}
	h1 { font-size: @h1-size;}
	h2 { font-size: @h2-size;}
	h3 { font-size: @h3-size;}
	h4 { font-size: @h4-size;}
	h5 { font-size: @h5-size;}
	h6 { font-size: @h6-size;}

    .metric {
        font-size: .7em;
        text-transform: uppercase;
    }
    .currency {
        padding-right: .1em;
    }
}

/************************************/
/* Primary Element Styles           */
/************************************/
.lotus-charts {
    background: #fafafa;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.lotus-charts .lotus-padding {
    padding: @default-padding;
}

/************************************/
/* Bar Fill Chart                   */
/************************************/
.lotus-charts.horizontal-bar-chart {
    padding: @default-padding 0;
}

.lotus-charts.horizontal-bar-chart .chart-marker-box {
    background: @bar-bg-color;
	margin-left: @default-padding + @bar-fill-margin;
    position: relative;
    left: @bar-label-box-width;
	top: @h5-size;
    width: 79%;
}
.lotus-charts.horizontal-bar-chart .chart-marker {
    display: block;
    position: relative;
    margin-left: 1px;
}
.lotus-charts.horizontal-bar-chart .chart-marker .marker-flag-box {
    position: absolute;
    bottom: 0;
    left: 0;
}
.lotus-charts.horizontal-bar-chart .chart-marker .marker-flag-box .marker-flag {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 14px 0;
    border-color: transparent #444 transparent transparent;
    position: relative;
    top: 14px;
    left: -11px;
}
.lotus-charts.horizontal-bar-chart .lotus-chart-label-box {
    float: left;
    width: @bar-label-box-width;
}

.lotus-charts.horizontal-bar-chart .lotus-chart-label-title {
	color: @heading-font-color;
	font-size: 1em;
}

.lotus-charts.horizontal-bar-chart .lotus-chart-label-value {
	color: @primary-font-color;
	font-size: 2em;
	font-weight: 600;
}

.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart {
    float: left;
	margin-top: @h5-size;
    width: @bar-chart-box-width;
}
.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart .fill-container {
    background: @bar-bg-color url(../images/noise.png) repeat left top;
    display: block;
    overflow: hidden;
    width: 100%;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    -moz-box-shadow: inset 0 3px 5px 0 #888;
    -webkit-box-shadow: inset 0 3px 5px 0 #888;
    box-shadow: inset 0 3px 5px 0 #888;
    z-index: 800;
}
.lotus-charts.horizontal-bar-chart .lotus-charts-bar-chart .fill-container .fill {
    background: @bar-primary-color url(../images/stripes-light.png) repeat left top;
    height: 26px;
    margin: @bar-fill-margin;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 801;
}

.lotus-charts.horizontal-bar-chart .lotus-charts-alerts {
    background: #ccf;
    float: left;
	margin-top: @h5-size;
    width: @bar-alert-box-width;
    z-index: 800;
}

/************************************/
/* Vertical Bar Chart               */
/************************************/
/* Chart slice less vars */
@slice-padding: 8px;
@label-padding: 60px;
@slice-width: @vertical-bar-width + (@slice-padding * 2);

.lotus-charts.vertical-bar-chart {
    overflow: hidden;
    padding: (@label-padding * 2) 0 @label-padding;
    position: relative;
    width: 100%;
}

.lotus-charts.vertical-bar-chart .chart-slice-window {
    border: 1px solid @vertical-bar-chart-line-color;
    border-left: 0;
	border-right: 2px solid @vertical-bar-chart-line-color;
    position: relative;
    left: @slice-width / 2;
    /* width: should be set dynamically by server given the total number of slices */
    height: @vertical-bar-max-height;
    z-index: 800;
}

.lotus-charts.vertical-bar-chart .chart-scale {
    background-color: #fff;
    background: rgba(255, 255, 255, .7) url("../images/noise.png") repeat left top;
    border-top: 1px solid @vertical-bar-chart-line-color;
    border-bottom: 1px solid @vertical-bar-chart-line-color;
    padding: 8px 0;
    position: absolute;
    top: @label-padding * 2 - 8px;
    left: 0;
    width: (@slice-width / 2);
    height: @vertical-bar-max-height;
    z-index: 899;
}
.lotus-charts.vertical-bar-chart .chart-scale-segment {
    color: @label-color-light - #222;
    font-size: 1em;
    height: @vertical-bar-max-height / 5;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
}


.lotus-charts.vertical-bar-chart .period {
    border-left: 1px dashed @vertical-bar-chart-line-color;
    float: left;
    height: @vertical-bar-max-height + @label-padding + 8px;
    margin-left: 1px;
    padding: 0;
    position: relative;
    /* width is assigned by adding sibling class ".slice_X"
        where X = the number of slices that this period will 
        contain */
}
.lotus-charts.vertical-bar-chart .period-label {
    position: absolute;
    top: @vertical-bar-max-height + @label-padding;
    padding: 0 @slice-padding;
}

.lotus-charts.vertical-bar-chart .chart-slice {
    float: left;
    height: @vertical-bar-max-height;
    width: @vertical-bar-width;
    position: relative;
    padding: 0 @slice-padding;
}

.lotus-charts.vertical-bar-chart {
    .period-label, .slice-label {
        color: @label-color-light;
    }
}

.lotus-charts.vertical-bar-chart .chart-slice .slider-rail {
    border-left: 1px solid @vertical-bar-chart-line-color;
    height: @vertical-bar-max-height;
    margin: 0;
    position: relative;
    margin-left: (@vertical-bar-width / 2);
    width: (@vertical-bar-width / 2) - 1px;
}

.lotus-charts.vertical-bar-chart .chart-slice .bar {
    background: hsla(hue(@blue), saturation(@blue), lightness(@blue), 0.6);
    position: absolute;
    bottom: 0;
    overflow: visible;
    width: @vertical-bar-width;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.lotus-charts.vertical-bar-chart .chart-slice .bar.zero {
    border-top: 1px solid @blue;
}

.lotus-charts.vertical-bar-chart .chart-slice .bar .pull-tab {
    background: #fff;
    border: 4px solid @blue;
    cursor: pointer;
    cursor: hand;
    margin: 0 auto;
    position: relative;
    top: -19px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}

.lotus-charts.vertical-bar-chart .chart-slice .bar.saved .pull-tab {
    border-color: #fff;
    background: @blue;
}

.lotus-charts.vertical-bar-chart .chart-slice .bubble-background-gradient {
    background-color: @vertical-bar-chart-bubble-label-color;
    background: #333; /* Old browsers */
    background-image: url("../images/noise.png");
    background-repeat: repeat;
    background-position: left top;
    background-image: url("../images/noise.png"), -moz-linear-gradient(top,  #111 0%, #333333 17%, #333 100%); /* FF3.6+ */
    background-image: url("../images/noise.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(17%,#333), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: url("../images/noise.png"), -webkit-linear-gradient(top,  #111 0%,#333 17%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: url("../images/noise.png"), -o-linear-gradient(top,  #111 0%,#333 17%,#333 100%); /* Opera 11.10+ */
    background: url("../images/noise.png"), -ms-linear-gradient(top,  #111 0%,#333 17%,#333 100%); /* IE10+ */
    background: url("../images/noise.png"), linear-gradient(to bottom,  #111 0%,#333 17%,#333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
    border-top: 1px solid (@vertical-bar-chart-bubble-label-color - #222);
    border-bottom: 1px solid #fff;
}

.lotus-charts.vertical-bar-chart .chart-slice .bubble-label {
    color: @primary-font-color;
    cursor: pointer;
    cursor: hand;
    margin: 0 8px;
    padding: .5em 0;
    position: relative;
    top: -108px;
    text-align: center;
}

.lotus-charts.vertical-bar-chart .chart-slice .saved .bubble-label,
.lotus-charts.vertical-bar-chart .chart-slice .bubble-label.open {
    .lotus-charts.vertical-bar-chart .chart-slice .bubble-background-gradient;
    color: @vertical-bar-chart-bubble-label-text-color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
    z-index: 800;
}
.lotus-charts.vertical-bar-chart .chart-slice .bubble-label .edit-bubble {
    display: none;    
    z-index: 0;
}

.lotus-charts.vertical-bar-chart .chart-slice .bubble-label.open {
    cursor: default;
    .currency, .number, .metric {
        display: none;
    }
    .edit-bubble {
        display: block;
        font-size: 0;
        z-index: 900;
    }
    input {
        border: 2px solid #ccc;
        display: block;
        font-size: 36px;
        margin: 0 auto 8px;
        padding: @default-padding;
        width: 212px - (2 * @default-padding);
        height: 36px;
        line-height: 36px;
        text-align: right;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    button {
        background: transparent url(../images/noise.png) repeat left top;
        border: 0px;
        color: #fff;
        cursor: pointer;
        cursor: hand;
        font-size: 20px;
        width: 100px;
        height: 40px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    button:active {
        position: relative;
        -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .4), inset 0 1px 3px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .4), inset 0 1px 3px rgba(0, 0, 0, 0.9);
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .4), inset 0 1px 3px rgba(0, 0, 0, 0.9);
    }
    button.button-cancel {
        background-color: @gray;
        margin-right: 16px;
    }
    button.button-cancel:active {
        background-color: @gray - #111;
    }
    button.button-set {
        background-color: @blue;
    }
    button.button-set:active {
        background-color: @blue - #111;
    }
    .down-arrow {
        z-index: 900;
    }
    margin: 0px;
    top: -204px;
    left: -((236px - @vertical-bar-width) / 2);
    width: 236px;
    z-index: 900;
}

.lotus-charts.vertical-bar-chart .chart-slice .bubble-label .down-arrow {
    width: 16px;
    height: 12px;
    position: absolute;
    bottom: -11px; /* 1px less b/c image needs to overlap bubble-label 1px border */
    left: 50% - 8px;
}

.lotus-charts.vertical-bar-chart .chart-slice .bubble-label.open .down-arrow {
    left: 50% - 3px; 
}

.lotus-charts.vertical-bar-chart .chart-slice {
    .saved .bubble-label .down-arrow, .bubble-label.open .down-arrow {
        background: transparent url("../images/arrow-down-32.png") no-repeat center top;
        background-size: 16px 12px;
    }
}

.lotus-charts.vertical-bar-chart .chart-slice {
    .bubble-label.open.left,
    .saved .bubble-label.open.left {
        left: 0;
        .down-arrow {
            left: (@vertical-bar-width / 2) - 8px;
        }
    }
    .bubble-label.open.right,
    .saved .bubble-label.open.right {
        left: -(236px - @vertical-bar-width);
        .down-arrow {
            left: (236px - @vertical-bar-width / 2) - 8px;
        }
    }
}

.lotus-charts.vertical-bar-chart .chart-slice .slice-label {
    border-top: 6px solid @vertical-bar-chart-line-color;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding-top: 6px;
}

/* Chart slice grids */
.lotus-charts.vertical-bar-chart {
    .period.slice_half {
        width: @vertical-bar-width / 2;
    }
    .period.slice_1 {
        width: @vertical-bar-width;
    }
    .period.slice_2 {
        width: (@slice-width * 2);
    }
    .period.slice_3 {
        width: (@slice-width * 3);
    }
    .period.slice_4 {
        width: (@slice-width * 4);
    }
    .period.slice_5 {
        width: (@slice-width * 5);
    }
    .period.slice_6 {
        width: (@slice-width * 6);
    }
    .period.slice_7 {
        width: (@slice-width * 7);
    }
    .period.slice_8 {
        width: (@slice-width * 8);
    }
    .period.slice_9 {
        width: (@slice-width * 9);
    }
    .period.slice_10 {
        width: (@slice-width * 10);
    }
    .period.slice_11 {
        width: (@slice-width * 11);
    }
    .period.slice_12 {
        width: (@slice-width * 12);
    }
    .period.slice_13 {
        width: (@slice-width * 13);
    }
    .period.slice_14 {
        width: (@slice-width * 14);
    }
    .period.slice_15 {
        width: (@slice-width * 15);
    }
    .period.slice_16 {
        width: (@slice-width * 16);
    }
    .period.slice_17 {
        width: (@slice-width * 17);
    }
    .period.slice_18 {
        width: (@slice-width * 18);
    }
    .period.slice_19 {
        width: (@slice-width * 19);
    }
    .period.slice_20 {
        width: (@slice-width * 20);
    }
    .period.slice_21 {
        width: (@slice-width * 21);
    }
    .period.slice_22 {
        width: (@slice-width * 22);
    }
    .period.slice_23 {
        width: (@slice-width * 23);
    }
    .period.slice_24 {
        width: (@slice-width * 24);
    }
    .period.slice_25 {
        width: (@slice-width * 25);
    }   
    .period.slice_26 {
        width: (@slice-width * 26);
    }
    .period.slice_27 {
        width: (@slice-width * 27);
    }
    .period.slice_28 {
        width: (@slice-width * 28);
    }
    .period.slice_29 {
        width: (@slice-width * 29);
    }
    .period.slice_30 {
        width: (@slice-width * 30);
    }
    .period.slice_31 {
        width: (@slice-width * 31);
    }
}


