/*
Title:   Custom CSS for Demo Page
Author:  Jasper Sone
License: Unlimited use, reuse, modifications.  Please just credit original author.
Updated: June 28, 2012
Version: 0.0
*/

/************************************/
/* Eric Meyer Reset                 */
/************************************/

